[Desktop Entry]
Encoding=UTF-8
Name=SMScoin
Comment=SMScoin P2P Cryptocurrency
Exec=SMScoin-qt %u
Terminal=false
Type=Application
Icon=SMScoin128
MimeType=x-scheme-handler/SMScoin;
Categories=Office;Finance;
Name[en_US]=SMScoin-qt.desktop
