[Unit]
Description=SMScoin's distributed currency daemon
After=network.target

[Service]
User=SMScoincore
Group=SMScoincore

Type=forking
PIDFile=/var/lib/SMScoind/SMScoind.pid
ExecStart=/usr/bin/SMScoind -daemon -pid=/var/lib/SMScoind/SMScoind.pid \
-conf=/etc/SMScoincore/SMScoin.conf -datadir=/var/lib/SMScoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
